---
import type { CollectionEntry } from 'astro:content';
type Noticia = CollectionEntry<'noticias'>;


const { listadoNoticias } = Astro.props as { listadoNoticias: Noticia[] };
---
<section class="listado-noticias">
    {listadoNoticias.map((noticia) => (
      <article class="listado-noticias__noticia">
        {noticia.data.image && noticia.data.image !== "" && (
          <a href={`/noticias/${noticia.id}`} title="Ir al detalle de la noticia">
            <img src={`/${noticia.data.image}`} alt={noticia.data.title} />
          </a>
        )}
        <h2 class="listado-noticias__titular">
          <span class="listado-noticias__fecha">{ noticia.data.date.toLocaleDateString('es-ES') }</span>
          <a href={`/noticias/${noticia.id}`} title="Ir al detalle de la noticia" class="listado-noticias__link-titular">{noticia.data.title}</a>
        </h2>
      </article>
    ))}
  </section>