---
import { getCollection } from 'astro:content';

const noticias = await getCollection("noticias");
const ultimaNoticia = noticias.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())[0];
---

<div class="noticias-portada">
    { noticias?.length > 0 && <article>
        <a href={`/noticias/${ultimaNoticia.id}`} title="Ir al detalle de la noticia">
            <img src={`/${ultimaNoticia.data.image}`} alt={ultimaNoticia.data.title} />
        </a>
        <h3>
            <span class="listado-noticias__fecha">{ ultimaNoticia.data.date.toLocaleDateString('es-ES') }</span>
            <a href={`/noticias/${ultimaNoticia.id}`} title="Ir al detalle de la noticia" class="noticias-portada__link-titular">{ultimaNoticia.data.title}</a>
        </h3>
    </article>}
    <a href="/noticias" title="Ir a la sección de noticias" class="button">Más noticias</a>
</div>