---
import colaboradores from "../../data/colaboradores.json";
import computePath from "../helpers/compute-path";

const current_page = Astro.url.pathname;
---

{ !current_page.endsWith("patrocinadores.html") && !current_page.endsWith("colaboradores.html") && <div id="colaboradoresFooter">
		<div class="row">
			{ colaboradores.oficiales.map((epigrafeoficial: any) => {
				return <h3>{epigrafeoficial.title}</h3>
				<ul class="patrocinadores">
					{ epigrafeoficial.empresas.map((colaboradoroficial: any) => {
						return <li>
							{ !colaboradoroficial.link && <span>	
									<img src={computePath(`/images/colaboradores/${colaboradoroficial.image}`)} alt={colaboradoroficial.name} loading="lazy" />
								</span>
							}
							{ colaboradoroficial.link && <a href={colaboradoroficial.link} title={colaboradoroficial.linktitle}>
									<img src={computePath(`/images/colaboradores/${colaboradoroficial.image}`)} alt={colaboradoroficial.name} loading="lazy" />
								</a>
							}
						</li>
					})}
				</ul>
			})}

			<h3>Colaboradores</h3>
			<ul class="patrocinadores">
				{ colaboradores.empresas.map(colaborador => {
					return <li>
						{ !colaborador.link && <span>
								<img src={computePath(`/images/colaboradores/${colaborador.image}`)} alt={colaborador.name} loading="lazy" />
							</span>
						}
						{ colaborador.link && <a href={colaborador.link} title="<%= colaborador.linktitle %>">
								<img src={computePath(`/images/colaboradores/${colaborador.image}`)} alt={colaborador.name} loading="lazy" />
							</a>
						}
					</li>
				})}
			</ul>
		</div>
	</div>
}