---
import colaboradores from "../../data/colaboradores.json";

const current_page = Astro.url.pathname;
---

{ !current_page.endsWith("patrocinadores.html") && !current_page.endsWith("colaboradores.html") && <div id="colaboradoresFooter">
		<div class="row">
			<ul class="patrocinadores">
				{ colaboradores.oficiales.map(epigrafeoficial => {
					return <>
						{ epigrafeoficial.empresas.map(colaboradoroficial => {
							return <li>
								{ !colaboradoroficial.link && <span>
										<img src={`/images/colaboradores/${colaboradoroficial.image}`} alt={colaboradoroficial.name} loading="lazy"  />
									</span>
								}
								{ colaboradoroficial.link && <a href={colaboradoroficial.link} title={colaboradoroficial.linktitle}>
										<img src={`/images/colaboradores/${colaboradoroficial.image}`} alt={colaboradoroficial.name} loading="lazy" />
									</a>
								}
							</li>
						})}
					</>
				})}
				{ colaboradores.empresas.map(empresa => {
					return <li>
						<a href={empresa.link} title={empresa.linktitle}>
							<img src={`/images/colaboradores/${empresa.image}`} alt={empresa.name} loading="lazy" />
						</a>
					</li>
				})}
			</ul>
		</div>
	</div>
}